body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.result {
  background-color: black;
  font-size: 2rem;
  height: 30.8rem;
  color: white;
  width: 30.8rem;
  position: absolute;
  visibility: hidden;
}

.container {
  display: flex;
  width: 30.8rem;
  height: 30.8rem;
  flex-wrap: wrap;
  background: white;
  margin: 30px;
}
h1 {
  background: blue;
  width: 15rem;
  height: 3rem;
  color: white;

  text-align: center;
  padding-top: 7px;
  border: 2px solid white;
}

.box {
  height: 10rem;
  border: 2px solid white;
  width: 10rem;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

@media only screen and (max-width: 550px) {
  .container,
  .result {
    width: 15.8rem;
    height: 15.8rem;
    font-size: 1.5rem;
  }

  .box {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
}
